body {

    background-color: $color-white;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: $color-black-primary;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body.modal-open {
    overflow: hidden;
}