<section class="favorites" id="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/img_favorites_1_des_1x.png 1x,
                ./images/favorites/img_favorites_1_des_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_1_tab_1x.png 1x,
                ./images/favorites/img_favorites_1_tab_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_1_mob_1x.png 1x,
                ./images/favorites/img_favorites_1_mob_2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./images/favorites/img_favorites_1_des_1x.png"
              alt="gamburger"
              width="395"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/img_favorites_2_des_1x.png 1x,
                ./images/favorites/img_favorites_2_des_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_2_tab_1x.png 1x,
                ./images/favorites/img_favorites_2_tab_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_2_mob_1x.png 1x,
                ./images/favorites/img_favorites_2_mob_2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./images/favorites/img_favorites_2_des_1x.png"
              alt="pasta"
              width="395"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/img_favorites_3_des_1x.png 1x,
                ./images/favorites/img_favorites_3_des_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_3_tab_1x.png 1x,
                ./images/favorites/img_favorites_3_tab_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_3_mob_1x.png 1x,
                ./images/favorites/img_favorites_3_mob_2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./images/favorites/img_favorites_3_des_1x.png"
              alt="pizza"
              width="395"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/img_favorites_4_des_1x.png 1x,
                ./images/favorites/img_favorites_4_des_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_4_tab_1x.png 1x,
                ./images/favorites/img_favorites_4_tab_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/favorites/img_favorites_4_des_1x.png"
              alt="chicken"
              width="395"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/img_favorites_5_des_1x.png 1x,
                ./images/favorites/img_favorites_5_des_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_5_tab_1x.png 1x,
                ./images/favorites/img_favorites_5_tab_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/favorites/img_favorites_5_des_1x.png"
              alt="salat"
              width="395"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/img_favorites_6_des_1x.png 1x,
                ./images/favorites/img_favorites_6_des_2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/favorites/img_favorites_6_tab_1x.png 1x,
                ./images/favorites/img_favorites_6_tab_2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/favorites/img_favorites_6_des_1x.png"
              alt="borshch"
              width="395"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
