<section id="feedback" class="feedback">
  <div class="feedback__container container">
    <div class="feedback__boxtxt">
      <h2 class="feedback__title">What our Customers Say</h2>
      <p class="feedback__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <ul class="feedback__list list">
      <li class="feedback__item">
        <div class="feedback__icon">
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedback__customerdescr">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="feedback__customers">
          <img src="./images/feedback/customer1.png" alt="customer" />
          <div class="feedback__box">
            <h4 class="feedback__customername">Sumith Shah</h4>
            <p class="feedback__name">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="feedback__item">
        <div class="feedback__icon">
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
          <svg width="17" height="16">
            <use href="./images/logo-sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedback__customerdescr">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="feedback__customers">
          <img src="./images/feedback/customer2.png" alt="customer" />
          <div class="feedback__box">
            <h4 class="feedback__customername">Sumith Shah</h4>
            <p class="feedback__name">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
