<footer class="footer">
  <div class="footer__container container">
    <nav class="footer__nav">
      <svg class="footer__logo" aria-label="Food sta">
        <use href="" width="69" height="51" class="footer__icon"></use>
      </svg>
      <ul class="footer__list list">
        <li class="footer__item"><a href="" class="footer__link">Home</a></li>
        <li class="footer__item"><a href="" class="footer__link">About</a></li>
        <li class="footer__item">
          <a href="" class="footer__link">Service</a>
        </li>
        <li class="footer__item"><a href="" class="footer__link">Menu</a></li>
        <li class="footer__item">
          <a href="" class="footer__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="Subscription">
      <p class="Subscription__title">Subscribe</p>
      <form class="Subscription__form">
        <input
          type="email"
          name="email"
          class="Subscription__input"
          placeholder="Enter your email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
        />
        <button type="submit" class="Subscription__btn">Subscribe</button>
        <p class="Subscription__content">
          By subscribing you agree to with our
          <span class="Subscription__link">Privacy Policy</span>
        </p>
      </form>
    </div>
    <ul class="footer__list list">
      <li class="footer__item">
        <a href="" class="footer__link">Privacy Policy</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">Terms of Service</a>
      </li>
      <li class="footer__item">
        <a href="" class="footer__link">Cookies Settings</a>
      </li>
    </ul>
    <p class="Subscription__content">2022 FoodSta. All right reserved.</p>
  </div>
</footer>
