<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <svg class="footer__logo" aria-label="Food sta">
        <use href="" width="69" height="51" class="footer__icon"></use>
      </svg>
      <nav class="footer__nav">
        <ul class="footer__list list">
          <li class="footer__item"><a href="" class="footer__link">Home</a></li>
          <li class="footer__item">
            <a href="" class="footer__link">About</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Service</a>
          </li>
          <li class="footer__item"><a href="" class="footer__link">Menu</a></li>
          <li class="footer__item">
            <a href="" class="footer__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="subscription">
        <form class="subscription__form">
          <label for="subscribe" class="subscription__title"
            >Subscribe
            <input
              id="subscribe"
              type="email"
              name="email"
              class="subscription__input"
              placeholder="Enter your email"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
          /></label>
          <button type="submit" class="subscription__btn">Subscribe</button>
          <p class="subscription__policy">
            By subscribing you agree to with our
            <span class="subscription__link">Privacy Policy</span>
          </p>
        </form>
      </div>
    </div>
    <div class="footer__info">
      <ul class="policy__list list">
        <li class="policy__item">
          <a href="" class="policy__link">Privacy Policy</a>
        </li>
        <li class="policy__item">
          <a href="" class="policy__link">Terms of Service</a>
        </li>
        <li class="policy__item">
          <a href="" class="policy__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>

  <!-- для фоновых картинок -->

  <span class="footer__bg1"></span>
  <span class="footer__bg2"></span>
  <span class="footer__bg3"></span>
  <span class="footer__bg4"></span>
  <span class="footer__bg5"></span>
  <span class="footer__bg6"></span>
  <span class="footer__bg7"></span>
  <span class="footer__bg8"></span>
</footer>
