<footer class="footer">
  <div class="footer__container container">
    <div>
      <div class="footer__menu">
        <svg class="footer__logo" aria-label="Food sta" width="69" height="51">
          <use
            href="./images/logo-sprite.svg#futer_logo"
            class="footer__icon"
          ></use>
        </svg>
        <div class="footer__flexbox">
          
            <nav class="footer__nav">
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="#" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Service</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Menu</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Contact</a>
                </li>
              </ul>
            </nav>
         
          <div class="subscription">
            <form class="subscription__form">
              <label for="subscribe" class="subscription__title">Subscribe </label>
              <div class="subscription__flexbox">
                <input
                  id="subscribe"
                  type="email"
                  name="email"
                  class="subscription__input"
                  placeholder="Enter your email"
                  required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
                />
                <button type="submit" class="subscription__btn">Subscribe</button>
              </div>
            </form>
            <p class="subscription__policy">
              By subscribing you agree to with our
              <span class="subscription__link">Privacy Policy</span>
            </p>
          </div>
        </div>
    </div>
    <div class="footer__info">
      <ul class="policy__list">
        <li class="policy__item">
          <a href="#" class="policy__link">Privacy&nbsp;Policy</a>
        </li>
        <li class="policy__item">
          <a href="#" class="policy__link">Terms&nbsp;of&nbsp;Service</a>
        </li>
        <li class="policy__item">
          <a href="#" class="policy__link">Cookies&nbsp;Settings</a>
        </li>
      </ul>
      <p class="footer__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
