<header class="header">
<div class="container">

<a class="header__logo logo" href="./index.html"><img src="#" alt="Логотип компанії"></a>

<nav class="nav">
<ul class="nav__list list">
    <li class="nav__item"><a class="nav__link link active" href="./index.html">Home</a></li>
    <li class="nav__item"><a class="nav__link link" href="#">About</a></li>
    <li class="nav__item"><a class="nav__link link" href="#">Service</a></li>
    <li class="nav__item"><a class="nav__link link" href="#">Menu</a></li>
    <li class="nav__item"><a class="nav__link link" href="#">Contact</a></li>
</ul>
</nav>

<button class="header__btn btn" type="button">Order Now</button>

</div>
</header>