<header class="header">
  <div class="header__container container">
    <!-- prettier-ignore -->
    <a class="logo" href="./index.html"><svg class="logo__icon" width="71" height="52">
    <use href="./images/logo-sprite.svg#icon-page-logo"></use>
</svg></a>

    <!-- Burger menu button -->
    <button class="menu__btn" type="button" data-menu-open>
      <svg class="menu__icon" width="28" height="28">
        <use href="./images/logo-sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <nav class="nav" data-menu>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#hero">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#offering">Service</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#favorites">Menu</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#subscribe">Contact</a>
        </li>
      </ul>
      <button class="close__btn" type="button" data-menu-close>
        <svg class="close__icon">
          <use href="./images/logo-sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>

    <button class="header__btn" type="button" data-modal-open>Order Now</button>
  </div>
</header>
