<section class="offering" id="offering">
  <div class="offering__container container">
    <div class="background-apple"></div>

    <div class="offering__description">
      <h2 class="offering__title">What’s Special About Our Offerings</h2>
      <p class="offering__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offering__list">
        <li class="offering__item">
          <svg class="icon-rocket" width="48"></svg>
          <h3 class="offering__subtitle">Fasest Delivery</h3>
          <p class="offering__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offering__item">
          <svg class="icon-touch"></svg>
          <h3 class="offering__subtitle">Easy to order</h3>
          <p class="offering__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button type="button" class="offering__btn" data-modal-open3>Order Now</button>
      <a class="link__text" href="#">
        <span>Read More</span>
        <svg class="icon-arrow" width="12" height="10">
          <use href="./images/logo-sprite.svg#icon-arrow-from"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
