<section class="offering">
    <div class="container">
        <div class="offering__img">
            <img src="./images/offerings/apple.png" alt="apple" width="201">
        </div>
        <div class="offering__description">
            <h2 class="offering__description--title">What’s Special About Our Offerings</h2>
            <p class="offering__description--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            <ul class="offering__list">
                <li class="offering__item">
                    <svg class="icon-rocket">
                        <use href="./images/logo-sprite.svg#icon-rocket" width="48"></use>
                    </svg>
                    <h3 class="offering__item--title">Fasest Delivery</h3>
                    <p class="offering__item--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.</p>
                </li>
                <li class="offering__item">
                    <svg class="icon-touch">
                        <use href="./images/logo-sprite.svg#icon-touch" width="48"></use>
                    </svg>
                    <h3 class="offering__item--title">Easy to order</h3>
                    <p class="offering__item--subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.</p>
                </li>
            </ul>
            <button type="button" class="offering__btn">Order Now</button>
            <a href="#">Read More</a>
        </div>
    </div>
</section>