<section class="offering">
    <div class="offering__picture">
        <img src="./images/offerings/apple.png" alt="Picture apple">
    </div>
    <div class="offering__order">
        <ul class="offering__list">
            <li class="offering__list--item">
                <h2 class="offering__list--title">What’s Special About Our Offerings</h2>
                <p class="offering__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    varius enim in eros elementum
                    tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            </li>
            <li class="offering__list--item">
                <a class="offering__list--link" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="offering__list--icon" width="27">
                        <use href="./images/logo-sprite.svg#icon-rocket"> </use>
                    </svg>
                </a>
                <h3 class="offering__list--subtitle">Fasest Delivery</h3>
                <p class="offering__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    varius enim in eros.</p>
            </li>
            <li class="offering__list--item">
                <a class="offering__list--link" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="offering__list--icon" width="21">
                        <use href="./images/logo-sprite.svg#icon-touch"> </use>
                    </svg>
                </a>
                <h3 class="offering__list--subtitle">Easy To Order</h3>
                <p class="offering__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    varius enim in eros.</p>
            </li>
        </ul>
        <button type="button" class="offering__list--btn">Order Now</button>
        <a class="offering__list--info" href="#">Read More</a>

    </div>
</section>