.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/footer/аpple__sm@1x-1.png),
      url(../images/footer/banana__sm@1x.png),
      url(../images/footer/spray__sm@1x-1.png),
      url(../images/footer/spray__sm@1x.png),
      url(../images/footer/orangSlice__sm@1x.png),
      url(../images/footer/orangeRight__sm@1x.png),
      url(../images/footer/аpple__sm@1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/аpple__sm@2x-1.png),
        url(../images/footer/banana__sm@2x.png),
        url(../images/footer/spray__sm@2x-1.png),
        url(../images/footer/spray__sm@2x.png),
        url(../images/footer/orangSlice__sm@2x.png),
        url(../images/footer/orangeRight__sm@2x.png),
        url(../images/footer/аpple__sm@2x.png);
    }

    background-size: 72px, 105px, 79px, 80px, 60px 205px, 104px 259px,
      120px 135px, cover;
    background-repeat: no-repeat;
    background-position: bottom left 40%, bottom left 60%, bottom left 30%,
      bottom left 80%, top 20px right, top right, top 111px left;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url(../images/footer/аpple__tabl@1x-1.png),
        url(../images/footer/banana__tabl@1x.png),
        url(../images/footer/spray__tabl@1x-1.png),
        url(../images/footer/spray__tabl@1x.png),
        url(../images/footer/spray__tabl@1x-2.png),
        url(../images/footer/orangSlice__tabl@1x-2.png),
        url(../images/footer/orangSlice__tabl@1x.png),
        url(../images/footer/аpple__tabl@1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/footer/аpple__tabl@2x-1.png),
          url(../images/footer/banana__tabl@2x.png),
          url(../images/footer/spray__tabl@2x-1.png),
          url(../images/footer/spray__tabl@2x.png),
          url(../images/footer/spray__tabl@2x-2.png),
          url(../images/footer/orangSlice__tabl@2x-2.png),
          url(../images/footer/orangSlice__tabl@2x.png),
          url(../images/footer/аpple__tabl@2x.png);
      }
      background-size: 153px, 221px, 168px, 171px, 203px 365px, 96px 289px,
        153px, 170px, cover;
      background-repeat: no-repeat;
      background-position: bottom left 40%, bottom left 55%, bottom left 30%,
        bottom left 80%, top right, top 35px right, bottom left, bottom right;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 1280px) {
      background-image: 
        
        url(../images/footer/spray__desk@1x-1.png),
        url(../images/footer/spray__desk@1x-2.png),
        url(../images/footer/spray__desk@1x.png),
        url(../images/footer/orang__desk@1x.png),
        url(../images/footer/orangSlice__desk@1x.png),
        url(../images/footer/banana__desk@1x.png),
        url(../images/footer/аpple__desk@1x.png),
        url(../images/footer/аpple__desk@1x-1.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: 
          
          url(../images/footer/spray__desk@2x-1.png),
          url(../images/footer/spray__desk@2x-2.png),
          url(../images/footer/spray__desk@2x.png),
          url(../images/footer/orang__desk@2x.png),
          url(../images/footer/orangSlice__desk@2x.png),
          url(../images/footer/banana__desk@2x.png),
          url(../images/footer/аpple__desk@2x.png),
          url(../images/footer/apple__desk@2x-1.png);
      }
      background-size:   168px, 182px 154px, 526px 266px,
        380px 126px, 153px, 221px, 153px, 170px, cover;
      background-repeat: no-repeat;
      background-position:   bottom left 90%,
        bottom left 20%, bottom left 45%, bottom center, bottom left 10%, bottom left 73%, bottom left 30%,
        bottom left 98%;
      background-repeat: no-repeat;
    }
  }

  &__menu {
    position: relative;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
      align-items: center;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      margin-bottom: 80px;
    }
  }
  &__flexbox {
    display: flex;
    margin-bottom: 40px;
    
    @media screen and (min-width: 768px) {
      display: flex;
        align-items: center;

    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
    }
  }
  &__nav {
    @media screen and (max-width: 767px) {
      
      margin-left: 25.3%;
    }
    @media screen and (min-width: 768px) {
      margin-left: 114px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 148px;
    }
   
  }

  &__list {
        @media screen and (max-width: 767px) {
      max-width: 49px;

    }
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      gap: 28px;
    }
    @media screen and (min-width: 1280px) {
      justify-content: inherit;
      gap: 28px;
      margin-bottom: 0px;
      max-width: 319px;
    }
  }

  &__item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 1.14;
    color: #2c2c2c;
  }
 
  &__copyright {
    font-size: 10px;
    line-height: 1.2;
    color: $color-black-primary;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.16;
      margin-left: auto;
    }
  }
  &__info {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}
.subscription {
  width: 100%;
  display: inline-block;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }
 
  @media screen and (min-width: 1280px) {
    margin-left: auto;
      width: auto;
    margin-bottom: 0px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  &__flexbox {
    
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
  
    }
    @media screen and (min-width: 1280px) {
      align-items: start;
      
    }
   
   }

  &__input {
    width: 100%;
    height: 42px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 150%;
    
    border: 0.854167px solid $color-yellow;
    border-radius: 30px;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }

    &:focus,
    &:hover {
      outline: none;
      border-color: $color-green-dark;
    }

    &:not(:placeholder-shown):valid {
      border-color: $color-green-dark;
    }
    &:not(:placeholder-shown):invalid {
      border-color: $color-warning;
      margin-bottom: 4px;
    }
    &:invalid:not(:placeholder-shown) + .subscription__error {
      display: flex;
    }

    @media screen and (min-width: 768px) {
      width: 279px;

      &:not(:placeholder-shown):invalid {
        border-color: $color-warning;
      }
    }
  }
  &__error {
    color: $color-warning;
    text-align: left;
    font-size: 10px;
    line-height: 150%;
    display: none;
  }
  &__icon {
    margin-right: 4px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103px;
    height: 42px;
    padding: 11px 22px;
    background: $color-white;
    color: $color-black-primary;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    text-transform: capitalize;
    border: 0.854167px solid $color-green-dark;
    border-radius: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 20px;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $color-yellow;
      outline: none;
    }
    @media screen and (min-width: 768px) {
      margin-left: 13px;
      margin-bottom: 19px;
    }
    @media screen and (min-width:1280px) {
      margin-bottom: 19px;
    }

     }
  &__policy {
    font-size: 10px;
    line-height: 1.2;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.16;
      display: block;
       }
      
    
  }

  &__link {
    text-decoration: underline;
    color: $color-green-dark;
    cursor: pointer;
  }
}
.policy__list {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    gap: 20px;
  }
  }
.policy__link {
  font-size: 10px;
  line-height: 1.2;
  text-decoration: underline;
  color: $color-green-dark;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
    display: block;
    text-align: center;
  }
}
