.header__container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.logo, .menu__btn {
    display: flex;
}




.nav__link {
    font-size: 14px;
    line-height: calc(16.41px / 14px);
    color: $color-black-secondary;
}


@media screen and (max-width: 767px) {
    .nav {
        overflow: hidden;
        width: 130px;
        position: fixed;
        top: 55;
        right: 25;
        background-color: $color-white;
        box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        &.is-open {
            opacity: 1;
            pointer-events: initial;
            visibility: visible;
        }
    }

    .nav__list {
        display: block;
    }

    .nav__item {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;

        &:hover,
        &:focus {
            background-color: $color-green-light;
        }
    }

    .nav__link--active {
        color: inherit;

        &::after {
            display: none;
        }
    }

    .header__btn {
        display: none;
    }

        .menu__btn {
            border: none;
            cursor: pointer;
            background-color: transparent;
            margin-left: auto;
        }

    .menu__icon {
        fill: $color-green-dark;

        &:hover {
            fill: $color-yellow;
        }
    }

    .close__btn {
        position: absolute;
        padding: 0;
        top: 4px;
        right: 4px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .close__icon {
        fill: currentColor;
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .nav__link {
        color: $color-black-primary;
    }
}

@media screen and (min-width: 768px) {
    .menu__btn {
        display: none;
    }

    .close__btn {
        display: none;
    }

        .nav {
            margin-left: auto;
        }

                .nav__item {

                    &:hover,
                    &:focus {
                        color: $color-green-light;
                    }
                }

    .nav__item:not(:last-child) {
        margin-right: 30px;
    }

    .nav__list {
        display: flex;
        margin-right: 30px;
    }

        .nav__link--active {
            position: relative;
            color: $color-green-light;
    
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                display: block;
                width: 100%;
                height: 1px;
                background-color: $color-green-light;
            }
        }

        .header__btn {
            font-family: inherit;
            font-size: 13px;
            font-weight: 400;
            line-height: calc(21px / 14px);
            color: $color-black-primary;
            background-color: $color-green-light;
            width: 98px;
            height: 32px;
            border: none;
            cursor: pointer;
            border-radius: 30px;
            padding: 6px 16px;
            display: inline-block;
    
            &:hover,
            &:focus {
                background-color: $color-green-light-hover;
            }
        }
}

