.hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 402px;

  @media screen and (min-width: 768px) {
    min-width: 704px;
  }
}

.hero__info {
  max-width: 440px;
  margin-right: 54px;

  @media screen and (min-width: 768px) {
    max-width: 537px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero__btn {
  background-color: $color-green-light;
  width: 98px;
  height: 32px;
  border-radius: 30px;
  border: none;
  margin-top: 28px;

  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.hero .swiper {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  text-align: center;

  background-image: url(/src/images/hero/small-circle@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/hero/small-circle@2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/hero/big-circle@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/hero/big-circle@2x.jpg);
    }
  }
}
