.hero {
  display: flex;
  //   margin-bottom: -161px;
}

.hero__info {
  max-width: 440px;

  @media screen and (min-width: 768px) {
    max-width: 537px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero__btn {
  background-color: $color-green-light;
  width: 98px;
  height: 32px;
  border-radius: 30px;
  border: none;
  margin-top: 28px;

  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.hero .swiper {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero .swiper-slide {
  object-fit: contain;
}
