.subscribe {
  &__container {
    position: relative;
    padding-bottom: 60px;
    padding-top: 52px;
    @media screen and (min-width: 768px) {
      padding-bottom: 100px;
      padding-top: 82px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: -20px;
      padding-top: 0;
    }
  }
  &__background {
    position: absolute;
    background-repeat: no-repeat;

    @media screen and (max-width: 767px) {
      background-position: center;
      top: -43px;
      left: 50%;
      transform: translateX(-50%);

      width: 280px;
      height: 78px;
      display: block;

      background-image: url(../images/subscribe/banan@1x-280-mob.png);
      background-size: 280px 78px;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/subscribe/banan@2x-560-mob.png);
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      top: -74px;
      right: 16px;
      width: 281px;
      height: 136px;
      background-image: url(../images/subscribe/banan@1x-281-tabl.png);
      background-size: 281px 136px;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/subscribe/banan@2x-562-tabl.png);
      }
    }
    @media screen and (min-width: 1280px) {
      top: -71px;
      right: 0;
      margin-bottom: 0;
      height: 266px;
      width: 606px;

      background-image: url(../images/subscribe/banan@1x-608-pc.png);
      background-size: 608px 266px;
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/subscribe/banan@2x-1216-pc.png);
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(34 / 28);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 42px;
      line-height: calc(50 / 42);
      max-width: none;
    }
  }
  &__descr {
    font-size: 14px;
    line-height: calc(16 / 14);
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(24 / 16);
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1280px) {
      width: 656px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 0px 12px 12px;
    font-size: 12px;
    line-height: calc(18 / 12);
    color: $color-black-primary;
    border: 0.854167px solid $color-yellow;
    border-radius: 30px;
    outline: none;
    &::placeholder {
      color: $color-gray-dark;
    }
    &:not(:placeholder-shown):valid {
      border-color: $color-green-dark;
    }
    &:not(:placeholder-shown):invalid {
      border-color: $color-warning;
      margin-bottom: 4px;
    }
    &:not(:placeholder-shown):invalid + .subscribe__warning {
      display: flex;
      margin-bottom: 1px;
    }
    @media screen and (min-width: 768px) {
      width: 395px;
      margin: 0;
    }
  }

  &__warning {
    display: none;
  }
  &__warningtxt {
    font-size: 10px;
    line-height: calc(15 / 10);
    color: $color-warning;
    user-select: none;
    margin-left: 4px;
  }

  &__btn {
    height: 42px;
    font-size: 13px;
    line-height: calc(20 / 13);
    border-radius: 30px;
    padding: 11px 22px;
    font-weight: 500;
    margin-left: auto;
    background-color: $color-green-light;
    border: none;
    &:hover,
    &:focus {
      background-color: $color-green-light-hover;
    }
    @media screen and (min-width: 768px) {
      margin-left: 22px;
      margin-bottom: 22px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 32px;
    }
  }
}
